/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("base/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "playfairDisplay-blackItalic";
  src: url("base/fonts/playfair-display/PlayfairDisplay-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "niageng";
  src: url("base/fonts/niageng/niageng.ttf") format("truetype");
}

@-webkit-keyframes disparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#menu {
  width: 10%;
  height: 100vh;
  background-color: #000000;
  font-family: "nunito-regular", sans-serif;
  position: fixed;
  left: 0;
}

#menu nav {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#menu nav li {
  margin: 15px;
  list-style: none;
}

#menu nav li a {
  text-decoration: none;
  color: #ffffff;
}

.main {
  width: 90%;
  height: 100vh;
}

.hero {
  background-color: #000000;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero #hero-title {
  width: 77%;
  height: auto;
  font-size: 2em;
  font-family: "Nunito-Regular", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero #hero-title p {
  font-family: "Nunito-Regular", sans-serif;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 900;
}

.hero #hero-title h1 {
  font-family: "playfairDisplay-blackItalic", sans-serif;
  color: #ffffff;
  text-align: right;
  text-transform: capitalize;
  margin-top: -0.7em;
}

.hero #hero-news {
  width: auto;
  height: auto;
  color: white;
  font-size: 1.2em;
  font-family: "Nunito-Regular", sans-serif;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero #hero-news div {
  width: auto;
  height: auto;
  text-align: center;
  text-transform: uppercase;
}

.hero #hero-news div p:first-child {
  width: 100%;
  background-color: red;
  font-size: 1.3em;
}

.hero #hero-news div p:last-child {
  font-size: 2em;
}

#realisations {
  background-color: #000000;
  width: 100%;
  height: 100vh;
}

#realisations #realisations-title {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 2rem;
}

#realisations #realisations-poles {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nunito-Regular', sans-serif;
  color: #ffffff;
}

#realisations #realisations-poles .realisations-tickets {
  background-color: aqua;
  width: 20%;
  height: 80vh;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#realisations #realisations-poles .realisations-tickets p {
  margin: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  z-index: 2;
}

#realisations #realisations-poles .realisations-tickets video {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
  display: none;
}

#realisations #realisations-poles #realisations-web {
  position: relative;
  background-image: url("img/realisations-web.jpg");
  background-size: cover;
  background-position-x: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("img/realisations-web.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/realisations-web.jpg");
  z-index: 1;
}

#realisations #realisations-poles #realisations-web:hover video {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: disparition 1.5s ease-in-out;
          animation: disparition 1.5s ease-in-out;
}

#realisations #realisations-poles #realisations-print {
  position: relative;
  background-image: url("img/photograph.jpg");
  background-size: cover;
  background-position-x: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("img/photograph.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/photograph.jpg");
  z-index: 1;
}

#realisations #realisations-poles #realisations-print:hover video {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: disparition 1.5s ease-in-out;
          animation: disparition 1.5s ease-in-out;
}

#realisations #realisations-poles #realisations-autre-1 {
  position: relative;
  background-image: url("img/standby.jpg");
  background-size: cover;
  background-position-x: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("img/standby.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/standby.jpg");
  z-index: 1;
}

#realisations #realisations-poles #realisations-autre-2 {
  position: relative;
  background-image: url("img/standby.jpg");
  background-size: cover;
  background-position-x: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("img/standby.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/standby.jpg");
  z-index: 1;
}

#particles-js {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */