/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("base/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "playfairDisplay-blackItalic";
  src: url("base/fonts/playfair-display/PlayfairDisplay-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "niageng";
  src: url("base/fonts/niageng/niageng.ttf") format("truetype");
}

.hero {
  background-color: aqua;
  background-image: url(../../img/img-web/violet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60vh;
}

.hero .hero-title {
  padding-top: 2rem;
  text-align: center;
}

.hero .hero-title p {
  color: #ffffff;
  font-size: 4rem;
  font-family: "niageng", serif;
}

.hero .hero-title p sup {
  color: #000000;
  font-size: 2rem;
}

.hero .hero-site {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.hero .hero-site img {
  width: 50%;
  height: auto;
}

.conception {
  background-color: #161616;
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

.conception .universWeb {
  position: fixed;
  right: -4vw;
  bottom: 15vh;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conception .universWeb .universSeparator {
  background: red;
  width: 50px;
  height: 2px;
  margin: 1rem;
}

.conception .universWeb p {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff;
  font-family: "Nunito-Regular", sans-serif;
}

.conception .conception-tech {
  background-color: #182D99;
  color: #ffffff;
  width: 400px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-top: -6vh;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-family: "Nunito-Regular", sans-serif;
  letter-spacing: 0.2rem;
}

.conception .conception-tech p {
  font-size: 0.5rem;
}

.conception .conception-tech .conception-tech-separateur {
  width: 40px;
  height: 1px;
  background-color: #ffffff;
  margin: 10px;
}

.conception .conception-tech div {
  font-size: 1rem;
}

.conception .conception-projets {
  color: #ffffff;
  width: 100%;
  height: auto;
  padding: 10vw 0;
  font-family: "Nunito-Regular", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conception .conception-projets .conception-descr {
  background-color: #212224;
  width: 57vw;
  height: 100px;
  padding: 4rem;
}

.conception .conception-projets .conception-descr h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.conception .conception-projets .conception-descr .conception-descr-separateur {
  width: 40px;
  height: 1px;
  background-color: #ffffff;
  margin: 20px 0px;
}

.conception .conception-projets .conception-descr p {
  letter-spacing: 0.1rem;
}

.conception .conception-projets .conception-goals {
  background-color: #212224;
  width: 8vw;
  height: 100px;
  margin-left: 5vw;
  padding: 4rem;
}

.conception .conception-projets .conception-goals h4 {
  color: grey;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.conception .conception-projets .conception-goals ul {
  width: 150px;
  margin-top: 1.5rem;
}

.conception .conception-projets .conception-goals ul li {
  font-size: 0.8rem;
  margin-top: 15px;
}

.conception .guide {
  width: 100%;
  height: 100vh;
}

.conception .guide .guideTitle {
  background-color: blue;
  background: url(../../img/img-records/conception-guide.jpg);
  background-size: cover;
  background-position-y: 70%;
  position: relative;
  margin-bottom: 5vw;
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conception .guide .guideTitle .title {
  background-color: rgba(33, 34, 36, 0.9);
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: "Nunito-Regular", sans-serif;
  letter-spacing: 5px;
}

.conception .guide .guideTitle .title .titleContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conception .guide .guideTitle .title .titleContent .titleSeparateur {
  background-color: #ffffff;
  width: 25px;
  height: 1px;
  margin: 10px;
}

.conception .guide .guideTitle .title .titleContent h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}

.conception .guide .guideTitle .title p {
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.conception .guide .guideContent {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Nunito-Regular", sans-serif;
}

.conception .guide .guideContent .guideContentLeft {
  width: 60%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conception .guide .guideContent .guideContentLeft .circle {
  display: block;
  background: black;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  margin: 0;
  position: relative;
}

.conception .guide .guideContent .guideContentLeft .circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.conception .guide .guideContent .guideContentRight {
  background-color: #212224;
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.9rem 2.9rem 0 2.9rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
}

.conception .guide .guideContent .guideContentRight h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.conception .guide .guideContent .guideContentRight p {
  font-size: 1.1rem;
  line-height: 2rem;
}

.conception .guide .guideContent .guideContentRight .guideContentRightSeparator {
  background-color: #ffffff;
  width: 50px;
  height: 2px;
  margin: 2rem 0;
}

.conception .guide .guideContent .guideContentRight button {
  width: 11rem;
  border: none;
  text-transform: uppercase;
  background: #3498db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#2980b9));
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.conception .elements {
  margin-top: 20vh;
  padding-bottom: 3rem;
}

.conception .elements .elementsTitle {
  background-color: blue;
  background: url(../../img/img-records/elements.jpg);
  background-size: cover;
  background-position-y: 70%;
  position: relative;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conception .elements .elementsTitle .title {
  background-color: rgba(33, 34, 36, 0.9);
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: "Nunito-Regular", sans-serif;
  letter-spacing: 5px;
}

.conception .elements .elementsTitle .title .titleContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conception .elements .elementsTitle .title .titleContent .titleSeparateur {
  background-color: #ffffff;
  width: 25px;
  height: 1px;
  margin: 10px;
}

.conception .elements .elementsTitle .title .titleContent h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}

.conception .elements .elementsTitle .title p {
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.conception .elements .elementsContent {
  width: 100%;
  height: auto;
  color: #ffffff;
  font-family: "Nunito-Regular", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conception .elements .elementsContent .elementsContentZone {
  width: 500px;
  height: auto;
  margin: 3rem 3rem 0rem 3rem;
  padding: 3rem;
  letter-spacing: 2px;
}

.conception .elements .elementsContent .elementsContentZone h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.conception .elements .elementsContent .elementsContentZone .elementsContentSeparator {
  background-color: #ffffff;
  width: 50px;
  height: 2px;
  margin: 1rem 0;
}

.conception .elements .elementsContent .elementsContentZone .zoneColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conception .elements .elementsContent .elementsContentZone .zoneColor .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 1rem 1rem 0;
}

.conception .elements .elementsContent .elementsContentZone .zoneColor .colors .circle {
  display: block;
  background: black;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  margin: 0 0 1rem 0;
  position: relative;
}

.conception .elements .elementsContent .elementsContentZone .elementsContentDetails {
  background-color: #212224;
  padding: 2rem;
  border-left: 1px solid #ffffff;
}

.conception .elements .elementsContent .elementsContentZone .elementsContentDetails h4 {
  text-transform: uppercase;
}

.conception .elements .elementsContent .elementsContentZone .elementsContentDetails .detailsSeparator {
  background-color: #ffffff;
  width: 30px;
  height: 2px;
  margin: 1rem 0;
}

.conception .elements .elementsContent .elementsContentZone .elementsContentDetails p {
  text-transform: uppercase;
  color: grey;
}

.conception .elements .elementsContent .elementsContentZone .elementsContentDetails i {
  color: grey;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.conception .elements .elementsContent .elementsContentZone #logoCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conception .conceptionDemo {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conception .conceptionDemo .blocDemo {
  background-color: #212224;
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

.conception .conceptionDemo .blocDemo img {
  width: 50rem;
  height: auto;
}
/*# sourceMappingURL=records.css.map */