@font-face {
    font-family: "Nunito-Regular";
    src: url("base/fonts/nunito/Nunito-Regular.ttf") format("truetype");
   };

   @font-face {
    font-family: "playfairDisplay-blackItalic";
    src: url("base/fonts/playfair-display/PlayfairDisplay-BlackItalic.ttf") format("truetype");
   };

   @font-face {
    font-family: "niageng";
    src: url("base/fonts/niageng/niageng.ttf") format("truetype");
   };